body {
    margin-top: 4rem;
}

legend {
    font-size: 1.1rem;
}

#signupForm {
    width: 500px;
}


.needs-validation {
    /*border: 1px solid red;*/
    /*box-shadow: 0 0 1px 1px red;*/
    box-shadow: inset -10px 0 5px -5px hsla(0,100%,50%,.80);
}

#signupForm label.error {
    /*display: inline;*/
    margin-left: 10px;
    color: red;
    width: auto;
}

.form-group button {
    margin-top: 2rem;;
}

.mb {
    margin-bottom: 3rem !important;
  }

.error {
    color: red;
}

#p_radios::after {
    content: '*';
    color: red;
}

